snippet def "Python: boilerplate for function" b
def ${1:Function}(${2:Parameters}):
endsnippet

snippet class "Python: boilerplate for a class" b
class ${1:Class}(${2:Parameters}):
endsnippet

snippet	# "Python: docstring" b
"""
$1
"""
endsnippet

snippet () "Python: expand brackets across multiple lines" i
(
	$1
)
endsnippet

snippet {} "Python: expand braces across multiple lines" w
{
	$1
}
endsnippet

snippet [] "Python: expand square brackets across multiple lines" w
[
	$1
]
endsnippet
